html {
  height: 100%;
  position: relative;
  top: 0;
  bottom: 0;
}

body {
  background-color: #f9f9f9;
  height: 100%;
}

.navbar-custom {
  background-color: white;
}

.logo-top {
  width: 50px;
  margin: 0 10px;
}

.menu-logo {
  width: 30px;
  color: #00996D;
}

.navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
  outline: none;
  border: none;
  box-shadow: none;
}

.brand-name-top {
  font-family: 'Dancing Script', cursive;
  font-size: 2rem;
}

.categories {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 10px 0;
  background-color: white;
  box-shadow: 0px 15px 10px rgba(0, 0, 0, 0.2);
  z-index: 0;
}

a.category-link {
  margin: 0 10px;
  font-size: 1rem;
  font-weight: lighter;
  text-decoration: none;
  color: #00996D;
  transition: 0.3s;
}

a.category-link:hover {
  color: #00BD9D;
}

.carousel-caption {
  position: absolute;
  top: 30%;
  /* bottom: 50%; */
}

.banner-text {
  font-size: 4rem;
  font-family: 'Paytone One', sans-serif;
  color: white;
}

.banner-btn {
  margin: 10px;
  font-family: 'Paytone One', sans-serif;
}

span {
  background: -webkit-linear-gradient(#00996D, #1BF2CE, #08C7E5);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  /* transition: 0.3s; */
  /* animation: change 3.5s both infinite; */

      /* height: 100px; */
      /* background-color: black; */
      -webkit-animation-name: blackWhite;
      -webkit-animation-timing-function: ease-in-out;
      -webkit-animation-iteration-count: infinite;
      -webkit-animation-duration:13s;
}

@-webkit-keyframes blackWhite {
  12.5% { background: -webkit-linear-gradient(#00996D, #1BF2CE, #08C7E5);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; }
  37.5% { background: -webkit-linear-gradient(#FFB500, #ffe599, #f6b26b);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; }
  62.5% { background: -webkit-linear-gradient(#d9d2e9, #c90076, #674ea7);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; }
  87.5% { background: -webkit-linear-gradient(#990000, #f4cccc, #f44336);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; }
  100% { background: -webkit-linear-gradient(#00996D, #1BF2CE, #08C7E5);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; }
}

/* @keyframes change {
    from { background: -webkit-linear-gradient(#00996D, #1BF2CE, #08C7E5);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; }
    to   { background: -webkit-linear-gradient(#FFB500, #ffe599, #f6b26b);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; }
} */

@media only screen and (max-width: 770px) {
  .banner-text {
    font-size: 2rem;
  }
  .banner-btn {
    font-size: 1rem;
  }
}

.carousel-item {
  max-height: 100vh;
}

.products {
  position: absolute;
  display: flex;

  /* left: 20%; */
  padding: 40px;
  justify-content: center;
  z-index: 0;
  width: 100%;
  /* margin-top: 30px; */
  /* flex-basis: 80%; */
  /* background-color: #00996D; */
  height: auto;
  flex-wrap: wrap;
  background-color: #00996D;
  opacity: 0.8;
  background-image: linear-gradient(135deg, #00b783 25%, transparent 25%), linear-gradient(225deg, #00b783 25%, transparent 25%), linear-gradient(45deg, #00b783 25%, transparent 25%), linear-gradient(315deg, #00b783 25%, #00996D 25%);
  background-position: 31px 0, 31px 0, 0 0, 0 0;
  background-size: 31px 31px;
  background-repeat: repeat;
}

@media only screen and (max-width: 600px) {
  .products {
    width: 100%;
    left: 0;
  }
}

.trans-white-conteiner {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 70%;
  height: 100%;
  background:rgba(255,255,255, 0.9);
  /* background-color: white; */
  /* opacity: 0.9; */
  padding: 30px;
}

@media only screen and (max-width: 600px) {
  .trans-white-conteiner {
    position: absolute;
    width: 100%;
    padding: 10%;
    /* left: 0; */
  }
}

.card {
  height: 20rem;
  width: 14rem;
  margin: 20px;
  box-shadow: 0 6px 10px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05);
  /* transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow; */
  transition: 0.3s;
}

.card:hover {
  color: #00BD9D;
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}

.card-img-top {
  /* width: 100%; */
  height: 50%;
  object-fit:cover;
}

@media only screen and (max-width: 600px) {
  .card {
    /* position: absolute; */
    width: 85%;
    /* padding: 10%; */
    /* left: 0; */
  }
}
